*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background: #061241;
}
.container{
    color: white;
    position: absolute;
    top: 27%;
    left: 13%;
    margin: 15px;
    max-width: 700px;
    width: 40%;
}
span{
    margin: 15px ;
    margin-left: 0px;
    color: rgba(9, 118, 9, 0.668);
    transform: scale(1.4);
    padding-bottom: 15px;
    border-bottom: 6px solid  rgba(9, 118, 9, 0.668);
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display {
    width: 100%;
    background-color: white ;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 30px;
    width: 80%;
}
#btn{
    border: 0;
    outline: 0;
    background-color: rgba(9, 118, 9, 0.668);
    color: white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;

}
#btn img{
    height: 20px;
    align-self: center;
    margin-right: 16px;
}
.display i{
    transform: scale(2.3);
    margin-right: 8px;
    cursor: pointer;
}
